### 파이썬 DB 연동
- CRUD 작업 처리
- CREATE / READ / UPDATE / DELETE
- INSERT / SELECT / UPDATE / DELETE

### 파이썬에서 MySQL 연동 패키지 지원
- pymysql 패키지 사용

In [26]:
# pymysql 패키지 설치
!pip install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.1.0)

In [27]:
import pymysql

In [28]:
pip install cryptography

Requirement already satisfied: cryptography in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (41.0.4)
Requirement already satisfied: cffi>=1.12 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from cffi>=1.12->cryptography) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [29]:
# 1. DB 연결 
# 호스트명, 포트번호, 로그인 계정, 비밀번호, CHARSET 파라미터로 지정 

conn = pymysql.connect(host='localhost', 
                       port=3306, 
                       user='root', 
                       passwd='sjh0808!',
                       charset='utf8')
# 연결 객체 반환

In [30]:
cursor = conn.cursor()

In [31]:
sql = 'show databases'
cursor.execute(sql)

9

In [32]:
# 4. sql 실행 결과 추출 (출력)
# 서버로부터 받은 결과를 출력 
# fetchall() 메소드 사용 : 모든 데이터를 한꺼번에 클라이언트로 받아올 때 사용 
result = cursor.fetchall()
result

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('sqldb3',),
 ('sys',),
 ('testdb',))

In [33]:
# 새로운 데이터베이스 생성
sql = 'create database beuty_shop'
cursor.execute(sql)

1

In [34]:
# beuty_shop 데이터베이스 생성 확인
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('beuty_shop',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('sqldb3',),
 ('sys',),
 ('testdb',))

In [35]:
# 데이터베이스 삭제
sql = 'drop database beuty_shop'
cursor.execute(sql)

0

In [36]:
# beuty_shop 데이터베이스 삭제 확인
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('sqldb3',),
 ('sys',),
 ('testdb',))

In [37]:
# 사용할 데이터베이스 선택
sql = 'use sqldb3'
cursor.execute(sql)

0

In [38]:
# 테이블 생성
sql = """
    create table shop(
        prdNo int auto_increment not null primary key,
        prdName varchar(100),
        prdPrice float,
        prdDisPrice float
    )
"""

cursor.execute(sql)

0

In [39]:
# 생성된 테이블 확인
sql = "show tables"
cursor.execute(sql)
cursor.fetchall()

(('book',),
 ('bookSale',),
 ('client',),
 ('client_view',),
 ('flower',),
 ('movie',),
 ('new_book1',),
 ('new_book2',),
 ('publisher',),
 ('shop',),
 ('top5_sales_client3',),
 ('top5_sales_clients',))

In [40]:
sql = 'drop table shop'
cursor.execute(sql)

0

In [41]:
sql = 'desc book'
cursor.execute(sql)
cursor.fetchall()

(('bookNo', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('bookName', 'varchar(30)', 'NO', '', None, ''),
 ('bookAuthor', 'varchar(20)', 'NO', '', None, ''),
 ('bookPrice', 'int', 'YES', '', None, ''),
 ('bookDate', 'date', 'YES', '', None, ''),
 ('bookStock', 'int', 'YES', '', None, ''),
 ('pubNo', 'varchar(10)', 'NO', 'MUL', None, ''))

In [42]:
# book 테이블 데이터 조회
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1001', '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, '3'),
 ('1002', '자바 프로그래밍', '이몽룡', 25000, datetime.date(2021, 12, 12), 4, '1'),
 ('1003', '인터넷프로그래밍', '성춘향', 30000, datetime.date(2019, 2, 10), 10, '2'),
 ('1004', '안드로이드 프로그래밍', '변학도', 23000, datetime.date(2017, 10, 10), 2, '1'),
 ('1005', '안드로이드 앱', '강길동', 26000, datetime.date(2020, 1, 11), 5, '2'),
 ('1006',
  'MS SQL SERVER 2014',
  '박지성',
  35000,
  datetime.date(2020, 3, 25),
  7,
  '3'),
 ('1007', 'HTML & CSS', '손흥민', 18000, datetime.date(2023, 9, 30), 3, '1'),
 ('1008', 'MFC 입문', '류현진', 20000, datetime.date(2015, 12, 12), 5, '1'),
 ('1009', '안드로이드 게임 제작', '나길동', 33000, datetime.date(2018, 10, 31), 5, '2'),
 ('1010', 'C++객체지향 프로그래밍', '추신수', 24000, datetime.date(2019, 4, 20), 2, '3'),
 ('1011', 'JSP 웹 프로그래밍', '김연아', 27000, datetime.date(2020, 10, 23), 8, '1'),
 ('1012', '해커들의 해킹 기법', '손연재', 32000, datetime.date(2018, 7, 7), 1, '2'),
 ('1013', '자료구조', '홍길동', 19000, datetime.date(2020, 1, 20), 4, '1'),
 ('1014', '파이썬', '성춘향', 35000, datetime.date(2023, 9, 25), 5, '2'),
 ('1015', '자바스크립 & jQuery', '홍길동', 27000, datetime.date(2019, 10, 22), 2, '2'))

In [43]:
result[0][0]

'1001'

In [44]:
# 도서번호, 도서명, 도서가격만 쿼리 실행
sql = 'select bookNo, bookName, bookPrice from book';
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('1001', '데이터베이스 이론', 22000), ('1002', '자바 프로그래밍', 25000), ('1003', '인터넷프로그래밍', 30000), ('1004', '안드로이드 프로그래밍', 23000), ('1005', '안드로이드 앱', 26000), ('1006', 'MS SQL SERVER 2014', 35000), ('1007', 'HTML & CSS', 18000), ('1008', 'MFC 입문', 20000), ('1009', '안드로이드 게임 제작', 33000), ('1010', 'C++객체지향 프로그래밍', 24000), ('1011', 'JSP 웹 프로그래밍', 27000), ('1012', '해커들의 해킹 기법', 32000), ('1013', '자료구조', 19000), ('1014', '파이썬', 35000), ('1015', '자바스크립 & jQuery', 27000))

In [45]:
# 도서 가격이 30,000원 이상인 도서의 도서번호, 도서명, 가격 추출
sql = 'select bookNo, bookName, bookPrice from book where bookPrice >= 30000'
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('1003', '인터넷프로그래밍', 30000), ('1006', 'MS SQL SERVER 2014', 35000), ('1009', '안드로이드 게임 제작', 33000), ('1012', '해커들의 해킹 기법', 32000), ('1014', '파이썬', 35000))

In [46]:
sql = 'select bookNo, bookName, bookPrice from book where bookPrice >= 30000'
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('1003', '인터넷프로그래밍', 30000), ('1006', 'MS SQL SERVER 2014', 35000), ('1009', '안드로이드 게임 제작', 33000), ('1012', '해커들의 해킹 기법', 32000), ('1014', '파이썬', 35000))

In [71]:
for re in result:
    for r in re:
        print(r, end=" ")
    print()

1001 데이터베이스 이론 홍길동 22000 2019-11-11 5 3
1002 자바 프로그래밍 이몽룡 25000 2021-12-12 4 1
1003 인터넷프로그래밍 성춘향 30000 2019-02-10 10 2
1004 안드로이드 프로그래밍 변학도 23000 2017-10-10 2 1
1005 안드로이드 앱 강길동 26000 2020-01-11 5 2
1006 MS SQL SERVER 2014 박지성 35000 2020-03-25 7 3
1007 HTML & CSS 손흥민 18000 2023-09-30 3 1
1008 MFC 입문 류현진 20000 2015-12-12 5 1
1009 안드로이드 게임 제작 나길동 33000 2018-10-31 5 2
1010 C++객체지향 프로그래밍 추신수 24000 2019-04-20 2 3
1011 JSP 웹 프로그래밍 김연아 27000 2020-10-23 8 1
1012 해커들의 해킹 기법 손연재 32000 2018-07-07 1 2
1013 자료구조 홍길동 19000 2020-01-20 4 1
1014 파이썬 성춘향 35000 2023-09-25 5 2
1015 자바스크립 & jQuery 홍길동 27000 2019-10-22 2 2
1016 DB 이길동 23000 2022-11-11 5 1
1017 DB 이길동 23000 2022-11-11 5 1
1018 sql 이길동 30000 2023-09-27 6 2

In [23]:
cursor.close()
conn.close()

In [49]:
# for i in range(len(result)):
#     print(result[i][0].strftime("%Y-%m-%d"))

In [ ]:
# 연습문제 
# 판매된 도서 중에서 '도서출판 강남'에서 출간된 도서에 대하여
# 고객명, 주문일, 도서명, 주문수량, 출판사명 출력
# 고객명 오름차순 정렬

In [ ]:
sql = """
    'select clientName, bsDate, bookName, bsQty, pubName 
     from bookSale
         inner join 

    where pubName = '%강남%'
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

In [50]:
# insert

In [51]:
# 데이터 입력 받아서 book 테이블에 저장

In [58]:
bookNo = input("도서번호 입력 : ")
bookName = input("도서명 입력 : ")
bookAuthor = input("저자 입력 : ")
bookPrice = input("가격 입력 : ")
bookDate = input("출판일 입력 : ")
bookStock = input("재고 입력 : ")
pubNo = input("출판서번호 입력 : ")

도서번호 입력 :  1017
도서명 입력 :  DB
저자 입력 :  이길동
가격 입력 :  23000
출판일 입력 :  2022-11-11
재고 입력 :  5
출판서번호 입력 :  1

In [59]:
bookNo, bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo

('1017', 'DB', '이길동', '23000', '2022-11-11', '5', '1')

In [60]:
# INSERT 방법1
sql = "insert into book(bookNo, bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo) value ('"\
        + bookNo + "', '" \
        + bookName + "', '" \
        + bookAuthor + "', " \
        + bookPrice + ", '" \
        + bookDate + "', " \
        + bookStock + ", '" \
        + pubNo + "')"

cursor.execute(sql)
conn.commit()

In [61]:
bookNo = input("도서번호 입력 : ")
bookName = input("도서명 입력 : ")
bookAuthor = input("저자 입력 : ")
bookPrice = input("가격 입력 : ")
bookDate = input("출판일 입력 : ")
bookStock = input("재고 입력 : ")
pubNo = input("출판서번호 입력 : ")

도서번호 입력 :  1018
도서명 입력 :  sql
저자 입력 :  이길동
가격 입력 :  30000
출판일 입력 :  2023-09-27
재고 입력 :  6
출판서번호 입력 :  2

In [66]:
# # INSERT 방법2

# # 위치한 데이터 타입 지정해 놓고
# sql = "insert into book values(%s, %s, %s, %s, %s, %s, %s)"

# # 실제 전달될 값
# values = (bookNo, bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo)

# # 값도 같이 전달
# cursor.execute(sql, values)
# conn.commit()

In [73]:
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('1001', '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, '3'), ('1002', '자바 프로그래밍', '이몽룡', 25000, datetime.date(2021, 12, 12), 4, '1'), ('1003', '인터넷프로그래밍', '성춘향', 30000, datetime.date(2019, 2, 10), 10, '2'), ('1004', '안드로이드 프로그래밍', '변학도', 23000, datetime.date(2017, 10, 10), 2, '1'), ('1005', '안드로이드 앱', '강길동', 26000, datetime.date(2020, 1, 11), 5, '2'), ('1006', 'MS SQL SERVER 2014', '박지성', 35000, datetime.date(2020, 3, 25), 7, '3'), ('1007', 'HTML & CSS', '손흥민', 18000, datetime.date(2023, 9, 30), 3, '1'), ('1008', 'MFC 입문', '류현진', 20000, datetime.date(2015, 12, 12), 5, '1'), ('1009', '안드로이드 게임 제작', '나길동', 33000, datetime.date(2018, 10, 31), 5, '2'), ('1010', 'C++객체지향 프로그래밍', '추신수', 24000, datetime.date(2019, 4, 20), 2, '3'), ('1011', 'JSP 웹 프로그래밍', '김연아', 27000, datetime.date(2020, 10, 23), 8, '1'), ('1012', '해커들의 해킹 기법', '손연재', 32000, datetime.date(2018, 7, 7), 1, '2'), ('1013', '자료구조', '홍길동', 19000, datetime.date(2020, 1, 20), 4, '1'), ('1014', '파이썬', '성춘향', 35000, datetime.date(2023, 9, 25), 5, '2'), ('1015', '자바스크립 & jQuery', '홍길동', 27000, datetime.date(2019, 10, 22), 2, '2'), ('1016', 'DB', '이길동', 23000, datetime.date(2022, 11, 11), 5, '1'), ('1017', 'DB', '이길동', 23000, datetime.date(2022, 11, 11), 5, '1'), ('1018', 'sql', '이길동', 30000, datetime.date(2023, 9, 27), 6, '2'))

In [69]:
# UPDATE
# 주의! : commit

In [70]:
# 고객명이 '메시'인 고객의 전화번호 값 수정 : 010-1111-1111을 010-1234-1234 로 변경

In [75]:
sql = """
    update client set clientPhone='010-1234-1234' where clientName='메시'
"""
cursor.execute(sql)
conn.commit()

In [77]:
sql = 'select * from client'
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('1', '메시', '010-1234-1234', '서울시', datetime.date(1987, 6, 24), '여행', '남'), ('2', '호날두', '010-2222-2222', '천안', datetime.date(1984, 2, 5), '', '남'), ('3', '샤라포바', '010-3333-3333', '제주', datetime.date(1987, 4, 19), '', '여'), ('4', '베컴', '010-4444-4444', '안양', datetime.date(1994, 5, 2), '영화', '남'), ('5', '네이마르', '010-5555-5555', '수원', datetime.date(1992, 2, 5), '게임', '남'), ('6', '윌리엄스', '010-6666-6666', '서울', datetime.date(1981, 9, 26), '테니스', '여'), ('7', '옴바페', '010-7777-7777', '천안', datetime.date(1991, 1, 7), '', '남'), ('8', '살라', '010-8888-8888', '부산', datetime.date(1982, 4, 22), '', '남'))

In [78]:
for re in result:
    for r in re:
        print(r, end=" ")
    print()

1 메시 010-1234-1234 서울시 1987-06-24 여행 남
2 호날두 010-2222-2222 천안 1984-02-05  남
3 샤라포바 010-3333-3333 제주 1987-04-19  여
4 베컴 010-4444-4444 안양 1994-05-02 영화 남
5 네이마르 010-5555-5555 수원 1992-02-05 게임 남
6 윌리엄스 010-6666-6666 서울 1981-09-26 테니스 여
7 옴바페 010-7777-7777 천안 1991-01-07  남
8 살라 010-8888-8888 부산 1982-04-22  남

In [81]:
# 입력된 값으로 데이터 수정
# 수정하고자 하는 기본키 값을 입력받고 
# 수정할 데이터 입력
bookNo = input("수정할 도서번호 입력 : ")
bookName = input("수정할 도서명 입력 : ")
bookAuthor = input("수정할 저자 입력 : ")
bookPrice = input("수정할 가격 입력 : ")
bookDate = input("수정할 출판일 입력 : ")
bookStock = input("수정할 재고 입력 : ")
pubNo = input("수정할 출판서번호 입력 : ")

# '1001', '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, '3'
# '데이터베이스 이론 및 실기', 25000, 재고 7

수정할 도서번호 입력 :  1001
수정할 도서명 입력 :  데이터베이스 이론 및 실기
수정할 저자 입력 :  홍길동
수정할 가격 입력 :  25000
수정할 출판일 입력 :  2019-11-11
수정할 재고 입력 :  7
수정할 출판서번호 입력 :  3

In [80]:
# update 테이블명 set 키(열)=값 ... where 키(열)=값

In [83]:
sql = "update book set bookName=%s, bookAuthor=%s, bookPrice=%s, " \
        + "bookDate=%s, bookStock=%s, pubNo=%s where bookNo=%s"

# 실제 전달될 값
values = (bookName, bookAuthor, bookPrice, bookDate, bookStock, pubNo, bookNo)

# 값도 같이 전달
cursor.execute(sql, values)
conn.commit()

In [88]:
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
for re in result:
    for r in re:
        print(r, end=", ")
    print()

1001, 데이터베이스 이론 및 실기, 홍길동, 25000, 2019-11-11, 7, 3,
1002, 자바 프로그래밍, 이몽룡, 25000, 2021-12-12, 4, 1,
1003, 인터넷프로그래밍, 성춘향, 30000, 2019-02-10, 10, 2,
1004, 안드로이드 프로그래밍, 변학도, 23000, 2017-10-10, 2, 1,
1005, 안드로이드 앱, 강길동, 26000, 2020-01-11, 5, 2,
1006, MS SQL SERVER 2014, 박지성, 35000, 2020-03-25, 7, 3,
1007, HTML & CSS, 손흥민, 18000, 2023-09-30, 3, 1,
1008, MFC 입문, 류현진, 20000, 2015-12-12, 5, 1,
1009, 안드로이드 게임 제작, 나길동, 33000, 2018-10-31, 5, 2,
1010, C++객체지향 프로그래밍, 추신수, 24000, 2019-04-20, 2, 3,
1011, JSP 웹 프로그래밍, 김연아, 27000, 2020-10-23, 8, 1,
1012, 해커들의 해킹 기법, 손연재, 32000, 2018-07-07, 1, 2,
1013, 자료구조, 홍길동, 19000, 2020-01-20, 4, 1,
1014, 파이썬, 성춘향, 35000, 2023-09-25, 5, 2,
1015, 자바스크립 & jQuery, 홍길동, 27000, 2019-10-22, 2, 2,
1016, DB, 이길동, 23000, 2022-11-11, 5, 1,
1017, DB, 이길동, 23000, 2022-11-11, 5, 1,
1018, sql, 이길동, 30000, 2023-09-27, 6, 2,

In [89]:
# DELETE 
# 주의! : commit

In [90]:
sql = "delete from book where bookNo = '1018'"
cursor.execute(sql)
conn.commit()

In [91]:
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
for re in result:
    for r in re:
        print(r, end=", ")
    print()

1001, 데이터베이스 이론 및 실기, 홍길동, 25000, 2019-11-11, 7, 3,
1002, 자바 프로그래밍, 이몽룡, 25000, 2021-12-12, 4, 1,
1003, 인터넷프로그래밍, 성춘향, 30000, 2019-02-10, 10, 2,
1004, 안드로이드 프로그래밍, 변학도, 23000, 2017-10-10, 2, 1,
1005, 안드로이드 앱, 강길동, 26000, 2020-01-11, 5, 2,
1006, MS SQL SERVER 2014, 박지성, 35000, 2020-03-25, 7, 3,
1007, HTML & CSS, 손흥민, 18000, 2023-09-30, 3, 1,
1008, MFC 입문, 류현진, 20000, 2015-12-12, 5, 1,
1009, 안드로이드 게임 제작, 나길동, 33000, 2018-10-31, 5, 2,
1010, C++객체지향 프로그래밍, 추신수, 24000, 2019-04-20, 2, 3,
1011, JSP 웹 프로그래밍, 김연아, 27000, 2020-10-23, 8, 1,
1012, 해커들의 해킹 기법, 손연재, 32000, 2018-07-07, 1, 2,
1013, 자료구조, 홍길동, 19000, 2020-01-20, 4, 1,
1014, 파이썬, 성춘향, 35000, 2023-09-25, 5, 2,
1015, 자바스크립 & jQuery, 홍길동, 27000, 2019-10-22, 2, 2,
1016, DB, 이길동, 23000, 2022-11-11, 5, 1,
1017, DB, 이길동, 23000, 2022-11-11, 5, 1,

In [92]:
# 삭제할 도서번호 입력 받아서 삭제

In [100]:
bookNo = input("삭제할 도서번호 입력 : ")
sql = 'delete from book where bookNo="%s"'
cursor.execute(sql, bookNo)
conn.commit()

삭제할 도서번호 입력 :  1017

In [101]:
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
for re in result:
    for r in re:
        print(r, end=", ")
    print()

1001, 데이터베이스 이론 및 실기, 홍길동, 25000, 2019-11-11, 7, 3,
1002, 자바 프로그래밍, 이몽룡, 25000, 2021-12-12, 4, 1,
1003, 인터넷프로그래밍, 성춘향, 30000, 2019-02-10, 10, 2,
1004, 안드로이드 프로그래밍, 변학도, 23000, 2017-10-10, 2, 1,
1005, 안드로이드 앱, 강길동, 26000, 2020-01-11, 5, 2,
1006, MS SQL SERVER 2014, 박지성, 35000, 2020-03-25, 7, 3,
1007, HTML & CSS, 손흥민, 18000, 2023-09-30, 3, 1,
1008, MFC 입문, 류현진, 20000, 2015-12-12, 5, 1,
1009, 안드로이드 게임 제작, 나길동, 33000, 2018-10-31, 5, 2,
1010, C++객체지향 프로그래밍, 추신수, 24000, 2019-04-20, 2, 3,
1011, JSP 웹 프로그래밍, 김연아, 27000, 2020-10-23, 8, 1,
1012, 해커들의 해킹 기법, 손연재, 32000, 2018-07-07, 1, 2,
1013, 자료구조, 홍길동, 19000, 2020-01-20, 4, 1,
1014, 파이썬, 성춘향, 35000, 2023-09-25, 5, 2,
1015, 자바스크립 & jQuery, 홍길동, 27000, 2019-10-22, 2, 2,
1017, DB, 이길동, 23000, 2022-11-11, 5, 1,

In [98]:
bookNo = input("삭제할 도서번호 입력 : ")
sql = 'delete from book where bookNo= ' + bookNo
cursor.execute(sql)
conn.commit()

삭제할 도서번호 입력 :  1016

In [106]:
sql = 'select * from book'
cursor.execute(sql)
result = cursor.fetchall()
for re in result:
    for r in re:
        print(r, end=", ")
    print()

1001, 데이터베이스 이론 및 실기, 홍길동, 25000, 2019-11-11, 7, 3,
1002, 자바 프로그래밍, 이몽룡, 25000, 2021-12-12, 4, 1,
1003, 인터넷프로그래밍, 성춘향, 30000, 2019-02-10, 10, 2,
1004, 안드로이드 프로그래밍, 변학도, 23000, 2017-10-10, 2, 1,
1005, 안드로이드 앱, 강길동, 26000, 2020-01-11, 5, 2,
1006, MS SQL SERVER 2014, 박지성, 35000, 2020-03-25, 7, 3,
1007, HTML & CSS, 손흥민, 18000, 2023-09-30, 3, 1,
1008, MFC 입문, 류현진, 20000, 2015-12-12, 5, 1,
1009, 안드로이드 게임 제작, 나길동, 33000, 2018-10-31, 5, 2,
1010, C++객체지향 프로그래밍, 추신수, 24000, 2019-04-20, 2, 3,
1011, JSP 웹 프로그래밍, 김연아, 27000, 2020-10-23, 8, 1,
1012, 해커들의 해킹 기법, 손연재, 32000, 2018-07-07, 1, 2,
1013, 자료구조, 홍길동, 19000, 2020-01-20, 4, 1,
1014, 파이썬, 성춘향, 35000, 2023-09-25, 5, 2,
1015, 자바스크립 & jQuery, 홍길동, 27000, 2019-10-22, 2, 2,
1017, DB, 이길동, 23000, 2022-11-11, 5, 1,

In [102]:
# 저장 프로시저 호출

In [108]:
# 매개변수가 있는 경우 : IN 매개변수만 있는 경우

cursor.callproc("clientAgeCheckProc", "1")
result = cursor.fetchall()
result

(('1', '메시', datetime.date(1987, 6, 24), '1980년대생'),)

In [110]:
sql = "CALL clientAgeCheckProc('4')"
cursor.execute(sql)
result = cursor.fetchall()
result

(('4', '베컴', datetime.date(1994, 5, 2), '1990년대생'),)

In [111]:
# 매개변수가 있는 경우 : IN / OUT 매개변수만 있는 경우

In [118]:
# 프로시저명 : bookPriceCountProc;
# 프로시저 호출

# call bookPriceCountProc(30000, @bookCount);
# select @bookCount;

# sql = "call bookPriceCountProc(30000, @bookCount)"
# cursor.execute(sql)
# sql = "select @bookCount"
# cursor.execute(sql)

# result = cursor.fetchall()
# result

In [119]:
cursor.close()
conn.close()