### DB 연동 연습문제
- (1) DB 연결
- (2) prodcut 테이블에서 전체 상품 정보 출력
- (3) 상품가격이 1,000,000원 이상인 상품만 출력
- (4) 새로운 상품 등록 (입력 받아서)
- (5) 상품번호가 10인 상품의 가격을 1000,000원으로 수정
- (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)

In [7]:
!pip install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.1.0)

In [8]:
import pymysql

In [32]:
# - (1) DB 연결

conn = pymysql.connect(host='localhost', 
                       port=3306, 
                       user='root', 
                       passwd='sjh0808!',
                       charset='utf8')

In [33]:
cursor = conn.cursor()

In [34]:
sql = 'show databases'
cursor.execute(sql)

9

In [35]:
# 4. sql 실행 결과 추출 (출력)
# 서버로부터 받은 결과를 출력 
# fetchall() 메소드 사용 : 모든 데이터를 한꺼번에 클라이언트로 받아올 때 사용 
result = cursor.fetchall()
result

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('sqldb3',),
 ('sys',),
 ('testdb',))

In [36]:
sql = 'use sqldb3'
cursor.execute(sql)

0

In [37]:
sql = "show tables"
cursor.execute(sql)
cursor.fetchall()

(('book',),
 ('booksale',),
 ('client',),
 ('client_view',),
 ('flower',),
 ('movie',),
 ('new_book1',),
 ('new_book2',),
 ('product',),
 ('publisher',),
 ('top5_sales_client2',),
 ('top5_sales_client3',),
 ('top5_sales_clients',))

In [38]:
sql = 'desc product'
cursor.execute(sql)
cursor.fetchall()

(('prdNo', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('prdName', 'varchar(20)', 'YES', '', None, ''),
 ('prdPrice', 'int', 'YES', '', None, ''),
 ('prdMaker', 'varchar(30)', 'YES', '', None, ''),
 ('prdColor', 'varchar(10)', 'YES', '', None, ''),
 ('ctgNo', 'int', 'YES', '', None, ''))

In [39]:
# - (2) prodcut 테이블에서 전체 상품 정보 출력

sql = 'select * from sqldb3.product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [46]:
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [45]:
# - (3) 상품가격이 1,000,000원 이상인 상품만 출력
sql = 'select prdNo, prdName, prdPrice from product where prdPrice >= 1000000'
cursor.execute(sql)
result = cursor.fetchall()
for re in result:
    for r in re:
        print(r, end=" ")
    print()

1 삼성 냉장고 비스포크 1620000
10 HP 게이밍 노트북 1200000
2 LG 디오스 와인셀러 1367000
3 QLED 8K TV 2175000
5 UHD TV 2250000
9 노트북9 metal 1390000

In [47]:
sql = 'select * from product where prdPrice >= 1000000'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [48]:
# - (4) 새로운 상품 등록 (입력 받아서)
prdNo = input("상품번호 입력 : ")
prdName = input("상품명 입력 : ")
prdPrice = input("상품가격 입력 : ")
prdMaker = input("상품출처 입력 : ")
prdColor = input("상품색깔 입력 : ")
ctgNo = input("카테고리넘버 입력 : ")

상품번호 입력 :  16
상품명 입력 :  삼성 오디세이 노트북
상품가격 입력 :  1500000
상품출처 입력 :  삼성
상품색깔 입력 :  검정
카테고리넘버 입력 :  2

In [49]:
prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo

('16', '삼성 오디세이 노트북', '1500000', '삼성', '검정', '2')

In [50]:
sql = "insert into product values(%s, %s, %s, %s, %s, %s)"

# # 실제 전달될 값
values = (prdNo, prdName, prdPrice, prdMaker, prdColor, ctgNo)

# # 값도 같이 전달
cursor.execute(sql, values)
conn.commit()

In [58]:
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1200000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('15', '원터치 자동 텐트', 58000, '이지트래블러', '그린', 4),
 ('16', '삼성 오디세이 노트북', 1500000, '삼성', '검정', 2),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [61]:
# - (5) 상품번호가 10인 상품의 가격을 1000,000원으로 수정
sql = "update product set prdPrice=1000000 where prdNo='10'"
cursor.execute(sql)
conn.commit()

In [62]:
sql = 'select * from product where prdNo = "10"'
cursor.execute(sql)
result = cursor.fetchall()
result

(('10', 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),)

In [63]:
# - (6) 상품번호가 15인 상품 삭제 (상품번호 입력 받아서)
prdNo = input("삭제할 상품번호 입력 : ")

삭제할 상품번호 입력 :  15

In [65]:
sql = 'delete from product where prdNo = ' + prdNo
cursor.execute(sql)
conn.commit()

In [67]:
sql = 'select * from product'
cursor.execute(sql)
result = cursor.fetchall()
result

(('1', '삼성 냉장고 비스포크', 1620000, '삼성전자', '새틴 코럴', 1),
 ('10', 'HP 게이밍 노트북', 1000000, 'HP', '흰색', 2),
 ('11', '32인치 LED 모니터', 299000, 'LG전자', '검정', 2),
 ('12', '광시야각 LED 모니터', 195000, '삼성전자', '흰색', 2),
 ('13', '등산배낭 옵티마', 68000, '밀레', '자주', 4),
 ('14', '35L 등산배낭', 49000, '(주)셀파', '노랑', 4),
 ('16', '삼성 오디세이 노트북', 1500000, '삼성', '검정', 2),
 ('2', 'LG 디오스 와인셀러', 1367000, 'LG전자', '검정', 1),
 ('3', 'QLED 8K TV', 2175000, '삼성전자', '블랙', 1),
 ('4', '올레드 TV 55', 799000, 'LG전자', '검정', 1),
 ('5', 'UHD TV', 2250000, '삼성전자', '은색', 1),
 ('6', '유아용 세발 자전거', 76000, '삼천리 자전거', '빨강', 3),
 ('7', '로드 사이클 자전거', 150000, '알톤', '검정', 3),
 ('8', '여성용 클래식 자전거', 100000, '알톤', '핑크', 3),
 ('9', '노트북9 metal', 1390000, '도시바', '은색', 2))

In [ ]:
cursor.close()
conn.close()